/* width */
::-webkit-scrollbar {
width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(51, 146, 255);
border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(5, 247, 150);
}
